In [1]:
# !pip install pycaret

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import pycaret
from pycaret.classification import *

df = pd.read_csv("data/processed_data.csv")
df

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,APPLICANT_AGE,YEARS_WORKING,TOTAL_GOOD_DEBT,TOTAL_BAD_DEBT,STATUS
0,5008806,M,1,1,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,1,0,0,0,Security staff,2.0,59.0,3.0,30,0,1
1,5008808,F,0,1,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,Sales staff,1.0,52.0,8.0,5,0,1
2,5008809,F,0,1,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,Sales staff,1.0,52.0,8.0,5,0,1
3,5008810,F,0,1,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,Sales staff,1.0,52.0,8.0,27,0,1
4,5008811,F,0,1,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,Sales staff,1.0,52.0,8.0,39,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25129,5149828,M,1,1,0,315000.0,Working,Secondary / secondary special,Married,House / apartment,1,0,0,0,Managers,2.0,48.0,7.0,8,4,1
25130,5149834,F,0,1,0,157500.0,Commercial associate,Higher education,Married,House / apartment,1,0,1,1,Medicine staff,2.0,34.0,4.0,6,18,0
25131,5149838,F,0,1,0,157500.0,Pensioner,Higher education,Married,House / apartment,1,0,1,1,Medicine staff,2.0,34.0,4.0,15,18,0
25132,5150049,F,0,1,0,283500.0,Working,Secondary / secondary special,Married,House / apartment,1,0,0,0,Sales staff,2.0,49.0,2.0,8,2,1
25133,5150337,M,0,1,0,112500.0,Working,Secondary / secondary special,Single / not married,Rented apartment,1,0,0,0,Laborers,1.0,25.0,3.0,12,2,1

In [2]:
df_modeling = df.sample(frac=0.9, random_state=123)
df_unseen = df.drop(df_modeling.index)

df_modeling.reset_index(inplace=True, drop=True)
df_unseen.reset_index(inplace=True, drop=True)

print('Data for Modeling: ' + str(df_modeling.shape))
print('Unseen Data For Predictions: ' + str(df_unseen.shape))

Data for Modeling: (22621, 21)
Unseen Data For Predictions: (2513, 21)

In [3]:
stp = setup(data = df_modeling, 
            target = 'STATUS',
            train_size = 0.8,
            categorical_features = ['CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY',
                                    'NAME_INCOME_TYPE','NAME_EDUCATION_TYPE','NAME_FAMILY_STATUS',
                                    'NAME_HOUSING_TYPE','FLAG_MOBIL','FLAG_WORK_PHONE',
                                    'FLAG_PHONE','FLAG_EMAIL','OCCUPATION_TYPE'], 
            ignore_features = ['ID'],
            fix_imbalance = True,
            silent = True,
            session_id=123)

In [4]:
best_model = compare_models()