In [1]:
import pandas as pd
csv_data = pd.read_csv("Suicide Dataset.csv")
csv_data

,Country,Year,"Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease (Both sexes)","Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease (Male)","Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease (Female)",Crude suicide rates (per 100 000 population) (Both sexes),Crude suicide rates (per 100 000 population) (Male),Crude suicide rates (per 100 000 population)( (Female)
0,Afghanistan,2019,35.3 [21.8-49.8],34.4 [21.9-47.9],36.2 [21.7-51.6],4.1 [2.3-7.0],4.6 [2.6-7.9],3.6 [2.0-5.9]
1,Afghanistan,2018,35.4 [21.7-50.1],34.7 [22.0-48.5],36.0 [21.4-51.6],4.1 [2.3-6.8],4.6 [2.6-7.8],3.5 [2.0-5.8]
2,Afghanistan,2017,35.5 [21.7-50.4],35.0 [22.0-49.1],35.9 [21.3-51.7],4.1 [2.3-6.8],4.6 [2.7-7.9],3.4 [2.0-5.7]
3,Afghanistan,2016,35.6 [21.6-50.7],35.1 [22.0-49.4],36.0 [21.2-51.9],4.0 [2.3-6.7],4.4 [2.6-7.4],3.6 [2.1-5.9]
4,Afghanistan,2015,35.6 [21.6-50.8],35.4 [22.3-49.8],35.7 [21.0-51.7],4.0 [2.3-6.6],4.3 [2.5-7.3],3.6 [2.0-5.9]
...,...,...,...,...,...,...,...,...
3655,Zimbabwe,2004,24.5 [15.7-35.3],24.6 [16.7-34.7],24.5 [15.0-35.8],14.2 [7.5-22.8],15.7 [8.4-24.2],12.7 [6.7-21.4]
3656,Zimbabwe,2003,23.1 [14.7-33.4],23.5 [15.9-33.3],22.7 [13.7-33.5],13.2 [6.9-21.1],15.1 [8.1-23.1],11.4 [5.7-19.3]
3657,Zimbabwe,2002,22.7 [14.4-32.9],24.1 [16.3-33.9],21.5 [13.0-32.0],13.4 [7.0-21.6],15.5 [8.3-23.6],11.4 [5.7-19.7]
3658,Zimbabwe,2001,21.7 [13.8-31.6],23.6 [16.0-33.2],20.2 [12.1-30.4],12.8 [6.6-20.9],14.4 [7.7-22.0],11.3 [5.4-19.8]
3659,Zimbabwe,2000,21.4 [13.6-31.2],23.3 [15.9-32.8],19.8 [11.7-29.9],13.3 [6.7-21.7],14.1 [7.5-21.5],12.4 [5.9-21.9]

In [2]:
year_count = pd.DataFrame(csv_data['Year'].value_counts())
year_count

      Year
2019   183
2018   183
2001   183
2002   183
2003   183
2004   183
2005   183
2006   183
2007   183
2008   183
2009   183
2010   183
2011   183
2012   183
2013   183
2014   183
2015   183
2016   183
2017   183
2000   183

# Select rows from year 2019

In [3]:
year_2019 = csv_data[csv_data['Year'] == 2019]
year_2019.reset_index(inplace = True)

In [4]:
year_2019

,index,Country,Year,"Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease (Both sexes)","Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease (Male)","Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease (Female)",Crude suicide rates (per 100 000 population) (Both sexes),Crude suicide rates (per 100 000 population) (Male),Crude suicide rates (per 100 000 population)( (Female)
0,0,Afghanistan,2019,35.3 [21.8-49.8],34.4 [21.9-47.9],36.2 [21.7-51.6],4.1 [2.3-7.0],4.6 [2.6-7.9],3.6 [2.0-5.9]
1,20,Albania,2019,11.4 [7.3-16.9],16.7 [10.7-24.5],6.0 [3.9-8.9],4.3 [2.4-6.7],5.9 [3.1-9.3],2.7 [1.7-3.9]
2,40,Algeria,2019,13.9 [8.9-20.0],14.9 [9.5-21.5],12.8 [8.3-18.4],2.5 [1.4-4.3],3.1 [1.7-5.5],1.8 [1.0-3.0]
3,60,Angola,2019,22.2 [13.8-32.8],25.2 [16.1-36.4],19.4 [11.6-29.3],6.1 [3.6-9.6],10.0 [6.0-15.6],2.3 [1.3-3.8]
4,80,Antigua and Barbuda,2019,17.5 [12.7-23.2],17.5 [12.7-23.3],17.6 [12.7-23.1],0.4 [0.3-0.6],0.0 [0.0-0.0],0.8 [0.5-1.1]
...,...,...,...,...,...,...,...,...,...
178,3560,Venezuela (Bolivarian Republic of),2019,14.8 [10.2-20.5],16.9 [11.6-23.3],12.9 [8.8-18.0],2.1 [1.4-3.0],3.5 [2.3-5.0],0.7 [0.4-1.0]
179,3580,Viet Nam,2019,21.2 [13.4-30.6],29.1 [18.7-40.7],13.7 [8.4-20.4],7.5 [4.1-11.7],10.4 [5.4-16.2],4.7 [2.8-7.3]
180,3600,Yemen,2019,27.6 [17.9-39.9],30.6 [20.1-44.0],24.8 [15.8-35.9],5.8 [2.8-10.1],7.0 [3.4-11.9],4.6 [2.2-8.3]
181,3620,Zambia,2019,24.6 [15.2-36.0],29.2 [18.4-41.9],20.6 [12.6-30.7],7.3 [4.4-11.3],12.0 [7.3-18.5],2.7 [1.5-4.3]
182,3640,Zimbabwe,2019,28.4 [17.8-41.1],30.3 [19.7-43.0],27.1 [16.5-39.8],14.1 [7.5-22.8],20.0 [10.4-31.9],8.8 [4.9-14.5]

# Filtering country and suicide columns

In [5]:
focus = year_2019[['Country', 'Crude suicide rates (per 100 000 population) (Both sexes)']]
for index in range(len(year_2019)):
    # filter cell value with '.at' method
    cell_value = focus.at[index, 'Crude suicide rates (per 100 000 population) (Both sexes)']
    # cast cell value from series to string, split into a list and index the first value
    focus.at[index, 'Crude suicide rates (per 100 000 population) (Both sexes)'] = str(cell_value.split()[0])

focus

,Country,Crude suicide rates (per 100 000 population) (Both sexes)
0,Afghanistan,4.1
1,Albania,4.3
2,Algeria,2.5
3,Angola,6.1
4,Antigua and Barbuda,0.4
...,...,...
178,Venezuela (Bolivarian Republic of),2.1
179,Viet Nam,7.5
180,Yemen,5.8
181,Zambia,7.3
182,Zimbabwe,14.1